body {
    font-family: 'Courier New', Courier, monospace, Verdana, Tahoma, sans-serif;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.card {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: none;
    width: 350px;
}

.card .btn-primary {
    display: block;
}

.username {
    border: 1px solid #ccc;
    padding: 12px 15px;
    min-width: 320px;
    font-size: 17px;
    transition: 0.4s;
    outline: none;
}

.username:focus {
    border-color: #C82333;
}

.action {
    box-shadow: none;
    outline: none;
    min-width: 160px;
    padding: 10px 20px;
}

.action:focus,
.action:active {
    box-shadow: none;
    outline: none;
}