body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  .card {
    display: none;
  }
  
  .username {
    border: 1px solid #ccc;
    padding: 12px 15px;
    min-width: 280px;
    font-size: 17px;
    transition: 0.4s;
    outline: none;
  }
  
  .username:focus {
    border-color: #000;
  }
  
  .action {
    box-shadow: none;
    outline: none;
    min-width: 160px;
    padding: 10px 20px;
  }
  
  .action:focus,
  .action:active {
    box-shadow: none;
    outline: none;
  }
  